# --- Bases pour l'analyse de données ---
numpy
pandas
matplotlib
seaborn
scikit-learn

# --- Tâche 1 : Reconnaissance Faciale ---
deepface
tensorflow
opencv-python-headless
Pillow

# --- Tâche 2 : OCR ---
pytesseract

# --- Intégration Jupyter Notebook ---
ipykernel